In [13]:
import basketball_reference_web_scraper.readers as br
import pandas as pd
import ast
import json

In [15]:
# Scrapes the data for 2015 and returns a JSON (key-value pair) string
# Note that the JSON type and native Python dict type are essentially the same thing
fifteen = br.return_json_encoded_schedule(2015)

In [26]:
# `ast.literal_eval` takes a string and transforms it into a dict if the string can be converted
# i.e. the brackets and everything are properly opened and closed
# We use `json.dumps` to write our data to file as a JSON string - hence `dump s` (string)
final_fifteen = ast.literal_eval(fifteen)['parsed_event_list']
with open('fifteen.json', 'a') as _f:
    _f.write(json.dumps(final_fifteen) + '\n')

In [36]:
loaded_fifteen = []
with open('fifteen.json', 'r') as _f:
    # Here, because we're loading from a file pointer (which points to a buffer (or chunk) of memory) we use `load`
    loaded_schedule = json.load(_f)
    # This loads a list of dictionaries from file
    for game in loaded_schedule:
        # But, `type(game)` is `unicode` here, which is a type of string
        # Thus, we have to use `ast.literal_eval` again to convert it to a valid dictionary
        loaded_fifteen.append(ast.literal_eval(game))

In [50]:
# Once we have a list of dictionaries, we can simply wrap this list in a call to `pd.DataFrame` 
# pandas magic will automatically convert this into a DataFrame
df_fifteen = pd.DataFrame(loaded_fifteen)
# Cast the `start_time` column to a proper datetime format from string using the `pd.to_datetime` function
df_fifteen['start_time'] = pd.to_datetime(df_fifteen['start_time'])
df_fifteen.head()

,home_team_name,home_team_score,start_time,visiting_team_name,visiting_team_score
0,Atlanta Hawks,94,2015-10-28 00:00:00,Detroit Pistons,106
1,Chicago Bulls,97,2015-10-28 00:00:00,Cleveland Cavaliers,95
2,Golden State Warriors,111,2015-10-28 02:30:00,New Orleans Pelicans,95
3,Boston Celtics,112,2015-10-28 23:30:00,Philadelphia 76ers,95
4,Brooklyn Nets,100,2015-10-28 23:30:00,Chicago Bulls,115

In [58]:
# Get a list of unique dates on the NBA schedule (to get box scores!)
# Any pd.Series datatype, native Python list type, or array-like object should have a `map` method
# (A method being a function belonging to a particular class (like the `to_datetime` method of `pandas`)
# Using `my_array.map(FUNCTION)` takes a FUNCTION that is then applied to every element in the array
# Here, we are using a simple lambda function that takes each element in the array `df_fifteen['start_time']` as a variable `t`
# For each of these elements, which are each datetime objects, we run `t.date()` or the `date()` method on each object
# This returns the YYYY-MM-DD date of each object (removing the HH:MM:SS part)
# We can then run the `.unique()` method that belongs to pd.Series in order to get a list of unique dates for our schedule
fifteen_unique_dates = df_fifteen['start_time'].map(lambda t: t.date()).unique()
print fifteen_unique_dates

[datetime.date(2015, 10, 28) datetime.date(2015, 10, 29)
 datetime.date(2015, 10, 30) datetime.date(2015, 10, 31)
 datetime.date(2015, 11, 1) datetime.date(2015, 11, 2)
 datetime.date(2015, 11, 3) datetime.date(2015, 11, 4)
 datetime.date(2015, 11, 5) datetime.date(2015, 11, 6)
 datetime.date(2015, 11, 7) datetime.date(2015, 11, 8)
 datetime.date(2015, 11, 9) datetime.date(2015, 11, 10)
 datetime.date(2015, 11, 11) datetime.date(2015, 11, 12)
 datetime.date(2015, 11, 13) datetime.date(2015, 11, 14)
 datetime.date(2015, 11, 15) datetime.date(2015, 11, 16)
 datetime.date(2015, 11, 17) datetime.date(2015, 11, 18)
 datetime.date(2015, 11, 19) datetime.date(2015, 11, 20)
 datetime.date(2015, 11, 21) datetime.date(2015, 11, 22)
 datetime.date(2015, 11, 23) datetime.date(2015, 11, 24)
 datetime.date(2015, 11, 25) datetime.date(2015, 11, 26)
 datetime.date(2015, 11, 28) datetime.date(2015, 11, 29)
 datetime.date(2015, 11, 30) datetime.date(2015, 12, 1)
 datetime.date(2015, 12, 2) datetime.date(2015, 12, 3)
 datetime.date(2015, 12, 4) datetime.date(2015, 12, 5)
 datetime.date(2015, 12, 6) datetime.date(2015, 12, 7)
 datetime.date(2015, 12, 8) datetime.date(2015, 12, 9)
 datetime.date(2015, 12, 10) datetime.date(2015, 12, 11)
 datetime.date(2015, 12, 12) datetime.date(2015, 12, 13)
 datetime.date(2015, 12, 14) datetime.date(2015, 12, 15)
 datetime.date(2015, 12, 16) datetime.date(2015, 12, 17)
 datetime.date(2015, 12, 18) datetime.date(2015, 12, 19)
 datetime.date(2015, 12, 20) datetime.date(2015, 12, 21)
 datetime.date(2015, 12, 22) datetime.date(2015, 12, 23)
 datetime.date(2015, 12, 24) datetime.date(2015, 12, 25)
 datetime.date(2015, 12, 26) datetime.date(2015, 12, 27)
 datetime.date(2015, 12, 28) datetime.date(2015, 12, 29)
 datetime.date(2015, 12, 30) datetime.date(2015, 12, 31)
 datetime.date(2016, 1, 1) datetime.date(2016, 1, 2)
 datetime.date(2016, 1, 3) datetime.date(2016, 1, 4)
 datetime.date(2016, 1, 5) datetime.date(2016, 1, 6)
 datetime.date(2016, 1, 7) datetime.date(2016, 1, 8)
 datetime.date(2016, 1, 9) datetime.date(2016, 1, 10)
 datetime.date(2016, 1, 11) datetime.date(2016, 1, 12)
 datetime.date(2016, 1, 13) datetime.date(2016, 1, 14)
 datetime.date(2016, 1, 15) datetime.date(2016, 1, 16)
 datetime.date(2016, 1, 17) datetime.date(2016, 1, 18)
 datetime.date(2016, 1, 19) datetime.date(2016, 1, 20)
 datetime.date(2016, 1, 21) datetime.date(2016, 1, 22)
 datetime.date(2016, 1, 23) datetime.date(2016, 1, 24)
 datetime.date(2016, 1, 25) datetime.date(2016, 1, 26)
 datetime.date(2016, 1, 27) datetime.date(2016, 1, 28)
 datetime.date(2016, 1, 29) datetime.date(2016, 1, 30)
 datetime.date(2016, 1, 31) datetime.date(2016, 2, 1)
 datetime.date(2016, 2, 2) datetime.date(2016, 2, 3)
 datetime.date(2016, 2, 4) datetime.date(2016, 2, 5)
 datetime.date(2016, 2, 6) datetime.date(2016, 2, 7)
 datetime.date(2016, 2, 9) datetime.date(2016, 2, 10)
 datetime.date(2016, 2, 11) datetime.date(2016, 2, 12)
 datetime.date(2016, 2, 19) datetime.date(2016, 2, 20)
 datetime.date(2016, 2, 21) datetime.date(2016, 2, 22)
 datetime.date(2016, 2, 23) datetime.date(2016, 2, 24)
 datetime.date(2016, 2, 25) datetime.date(2016, 2, 26)
 datetime.date(2016, 2, 27) datetime.date(2016, 2, 28)
 datetime.date(2016, 2, 29) datetime.date(2016, 3, 1)
 datetime.date(2016, 3, 2) datetime.date(2016, 3, 3)
 datetime.date(2016, 3, 4) datetime.date(2016, 3, 5)
 datetime.date(2016, 3, 6) datetime.date(2016, 3, 8)
 datetime.date(2016, 3, 9) datetime.date(2016, 3, 10)
 datetime.date(2016, 3, 11) datetime.date(2016, 3, 12)
 datetime.date(2016, 3, 13) datetime.date(2016, 3, 14)
 datetime.date(2016, 3, 15) datetime.date(2016, 3, 16)
 datetime.date(2016, 3, 17) datetime.date(2016, 3, 18)
 datetime.date(2016, 3, 19) datetime.date(2016, 3, 20)
 datetime.date(2016, 3, 22) datetime.date(2016, 3, 21)
 datetime.date(2016, 3, 23) datetime.date(2016, 3, 24)
 datetime.date(2016, 3, 25) datetime.date(2016, 3, 26)
 datetime.date(2016, 3, 27) datetime.date(2016, 3, 28)
 datetime.date(2016, 3, 29) datetime.date(2016, 3, 30)
 datetime.date(2016, 3, 31) datetime.date(2016, 4, 1)
 datetime.date(2016, 4, 2) datetime.date(2016, 4, 3)
 datetime.date(2016, 4, 4) datetime.date(2016, 4, 6)
 datetime.date(2016, 4, 5) datetime.date(2016, 4, 7)
 datetime.date(2016, 4, 8) datetime.date(2016, 4, 9)
 datetime.date(2016, 4, 10) datetime.date(2016, 4, 11)
 datetime.date(2016, 4, 12) datetime.date(2016, 4, 13)
 datetime.date(2016, 4, 14) datetime.date(2016, 4, 16)
 datetime.date(2016, 4, 17) datetime.date(2016, 4, 18)
 datetime.date(2016, 4, 19) datetime.date(2016, 4, 20)
 datetime.date(2016, 4, 21) datetime.date(2016, 4, 22)
 datetime.date(2016, 4, 23) datetime.date(2016, 4, 24)
 datetime.date(2016, 4, 25) datetime.date(2016, 4, 26)
 datetime.date(2016, 4, 27) datetime.date(2016, 4, 28)
 datetime.date(2016, 4, 29) datetime.date(2016, 4, 30)
 datetime.date(2016, 5, 1) datetime.date(2016, 5, 2)
 datetime.date(2016, 5, 3) datetime.date(2016, 5, 4)
 datetime.date(2016, 5, 5) datetime.date(2016, 5, 6)
 datetime.date(2016, 5, 7) datetime.date(2016, 5, 8)
 datetime.date(2016, 5, 9) datetime.date(2016, 5, 10)
 datetime.date(2016, 5, 11) datetime.date(2016, 5, 12)
 datetime.date(2016, 5, 13) datetime.date(2016, 5, 14)
 datetime.date(2016, 5, 15) datetime.date(2016, 5, 17)
 datetime.date(2016, 5, 18) datetime.date(2016, 5, 19)
 datetime.date(2016, 5, 20) datetime.date(2016, 5, 22)
 datetime.date(2016, 5, 23) datetime.date(2016, 5, 24)
 datetime.date(2016, 5, 25) datetime.date(2016, 5, 26)
 datetime.date(2016, 5, 27) datetime.date(2016, 5, 28)
 datetime.date(2016, 5, 29) datetime.date(2016, 5, 31)
 datetime.date(2016, 6, 3) datetime.date(2016, 6, 6)
 datetime.date(2016, 6, 9) datetime.date(2016, 6, 11)
 datetime.date(2016, 6, 14) datetime.date(2016, 6, 17)
 datetime.date(2016, 6, 20)]

In [41]:
# We can use `DataFrame.to_csv(FILE_PATH)` to save our DataFrame as a CSV file
df_fifteen.to_csv('2015_schedule.csv')

In [43]:
# We can use `pd.read_csv(FILE_PATH)` to read our data in as a CSV
# Note that we use the optional parameter `index_col` to indicate that the first column of the CSV 
# should be used as an index for our DataFrame (because we also exported it in the line above)
pd.read_csv('2015_schedule.csv', index_col=0)

,home_team_name,home_team_score,start_time,visiting_team_name,visiting_team_score
0,Atlanta Hawks,94,2015-10-28 00:00:00+00:00,Detroit Pistons,106
1,Chicago Bulls,97,2015-10-28 00:00:00+00:00,Cleveland Cavaliers,95
2,Golden State Warriors,111,2015-10-28 02:30:00+00:00,New Orleans Pelicans,95
3,Boston Celtics,112,2015-10-28 23:30:00+00:00,Philadelphia 76ers,95
4,Brooklyn Nets,100,2015-10-28 23:30:00+00:00,Chicago Bulls,115
5,Detroit Pistons,92,2015-10-28 23:30:00+00:00,Utah Jazz,87
6,Houston Rockets,85,2015-10-29 00:00:00+00:00,Denver Nuggets,105
7,Los Angeles Lakers,111,2015-10-29 02:30:00+00:00,Minnesota Timberwolves,112
8,Memphis Grizzlies,76,2015-10-29 00:00:00+00:00,Cleveland Cavaliers,106
9,Miami Heat,104,2015-10-28 23:30:00+00:00,Charlotte Hornets,94
10,Milwaukee Bucks,97,2015-10-29 00:00:00+00:00,New York Knicks,122
11,Oklahoma City Thunder,112,2015-10-29 00:00:00+00:00,San Antonio Spurs,106
12,Orlando Magic,87,2015-10-28 23:00:00+00:00,Washington Wizards,88
13,Phoenix Suns,95,2015-10-29 02:00:00+00:00,Dallas Mavericks,111
14,Portland Trail Blazers,112,2015-10-29 02:00:00+00:00,New Orleans Pelicans,94
15,Sacramento Kings,104,2015-10-29 02:00:00+00:00,Los Angeles Clippers,111
16,Toronto Raptors,106,2015-10-28 23:30:00+00:00,Indiana Pacers,99
17,Indiana Pacers,103,2015-10-29 23:00:00+00:00,Memphis Grizzlies,112
18,Los Angeles Clippers,104,2015-10-30 02:30:00+00:00,Dallas Mavericks,88
19,New York Knicks,101,2015-10-30 00:00:00+00:00,Atlanta Hawks,112
20,Atlanta Hawks,97,2015-10-31 00:00:00+00:00,Charlotte Hornets,94
21,Boston Celtics,103,2015-10-30 23:30:00+00:00,Toronto Raptors,113
22,Cleveland Cavaliers,102,2015-10-30 23:00:00+00:00,Miami Heat,92
23,Denver Nuggets,78,2015-10-31 01:00:00+00:00,Minnesota Timberwolves,95
24,Detroit Pistons,98,2015-10-30 23:30:00+00:00,Chicago Bulls,94
25,Houston Rockets,92,2015-10-31 01:30:00+00:00,Golden State Warriors,112
26,Milwaukee Bucks,113,2015-10-31 00:00:00+00:00,Washington Wizards,118
27,Orlando Magic,136,2015-10-30 23:00:00+00:00,Oklahoma City Thunder,139
28,Philadelphia 76ers,71,2015-10-30 23:00:00+00:00,Utah Jazz,99
29,Phoenix Suns,110,2015-10-31 02:30:00+00:00,Portland Trail Blazers,92
...,...,...,...,...,...
1286,Atlanta Hawks,99,2016-05-08 19:30:00+00:00,Cleveland Cavaliers,100
1287,Oklahoma City Thunder,111,2016-05-09 00:00:00+00:00,San Antonio Spurs,97
1288,Miami Heat,94,2016-05-10 00:00:00+00:00,Toronto Raptors,87
1289,Portland Trail Blazers,125,2016-05-10 02:30:00+00:00,Golden State Warriors,132
1290,San Antonio Spurs,91,2016-05-11 00:00:00+00:00,Oklahoma City Thunder,95
1291,Golden State Warriors,125,2016-05-12 02:30:00+00:00,Portland Trail Blazers,121
1292,Toronto Raptors,99,2016-05-12 00:00:00+00:00,Miami Heat,91
1293,Oklahoma City Thunder,113,2016-05-13 00:30:00+00:00,San Antonio Spurs,99
1294,Miami Heat,103,2016-05-14 00:00:00+00:00,Toronto Raptors,91
1295,Toronto Raptors,116,2016-05-15 19:30:00+00:00,Miami Heat,89
1296,Golden State Warriors,102,2016-05-17 01:00:00+00:00,Oklahoma City Thunder,108
1297,Cleveland Cavaliers,115,2016-05-18 00:30:00+00:00,Toronto Raptors,84
1298,Golden State Warriors,118,2016-05-19 01:00:00+00:00,Oklahoma City Thunder,91
1299,Cleveland Cavaliers,108,2016-05-20 00:30:00+00:00,Toronto Raptors,89
1300,Toronto Raptors,99,2016-05-22 00:30:00+00:00,Cleveland Cavaliers,84
1301,Oklahoma City Thunder,133,2016-05-23 00:00:00+00:00,Golden State Warriors,105
1302,Toronto Raptors,105,2016-05-24 00:30:00+00:00,Cleveland Cavaliers,99
1303,Oklahoma City Thunder,118,2016-05-25 01:00:00+00:00,Golden State Warriors,94
1304,Cleveland Cavaliers,116,2016-05-26 00:30:00+00:00,Toronto Raptors,78
1305,Golden State Warriors,120,2016-05-27 01:00:00+00:00,Oklahoma City Thunder,111
1306,Toronto Raptors,87,2016-05-28 00:30:00+00:00,Cleveland Cavaliers,113
1307,Oklahoma City Thunder,101,2016-05-29 01:00:00+00:00,Golden State Warriors,108
1308,Golden State Warriors,96,2016-05-31 01:00:00+00:00,Oklahoma City Thunder,88
1309,Golden State Warriors,104,2016-06-03 01:00:00+00:00,Cleveland Cavaliers,89
1310,Golden State Warriors,110,2016-06-06 00:00:00+00:00,Cleveland Cavaliers,77
1311,Cleveland Cavaliers,120,2016-06-09 01:00:00+00:00,Golden State Warriors,90
1312,Cleveland Cavaliers,97,2016-06-11 01:00:00+00:00,Golden State Warriors,108
1313,Golden State Warriors,97,2016-06-14 01:00:00+00:00,Cleveland Cavaliers,112
1314,Cleveland Cavaliers,115,2016-06-17 01:00:00+00:00,Golden State Warriors,101
1315,Golden State Warriors,89,2016-06-20 00:00:00+00:00,Cleveland Cavaliers,93

In [59]:
# Your tasks:
# 1. Scrape all of the schedules for 2012-present and use pd.concat() to merge them all into one CSV `schedules.csv`
# 2. You can get a set of unique dates in the NBA schedule as per above
# 3. Use that list of unique dates to get box scores for all players on that day
# 4. Combine all of the box scores for all years into one DataFrame/CSV `box_scores.csv`
#    (they are interchangeable - CSV is for saving to file, DF is for use in pandas)
# 5. Also get the season-level statistics for each player for each year and combine into `season_stats.csv`

In [60]:
# You should end up with 3 CSVs that contain all of the data from 2012-present
# `schedules.csv` contains a list of all the scheduled games
# `box_scores.csv` contains every player's per-game box score performance
# `season_stats.csv` contains every player's per-season performance

In [62]:
# For the machine-learning step:
# 1. We want to predict the likelihood that a team (OKC) wins on a per-game level
# 2. To do this, we generate features for our model that are valid on a per-game level, such as "Average Player 3PT% in Previous Season"
# 3. We can construct a naive model that just calculates the average of all the box-score stats of each player from last season
# 4. This can be our PoC that we complete by Thursday night at the latest

# Call me if you need help assembling the data per above. Let me know when we can start feature generation + ML